{% extends 'base.html'%}
{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Merhabalar!</h1>
    <p class="lead">Bu uygulama <b>yazilimciolmakistiyorum</b> Instagram sayfasının yarışması üzerine oluşturulmuştur. Uygulama <b>Python</b> dilinde yazılmış olup <b>Flask Micro Web Framework</b>'ü kullanmaktadır.</p>
    <hr class="my-4">
    <p>İletişim için lütfen <b>berk.gaffaroglu@gmail.com</b> adresini kullanın. Kodu görmek için aşağıdaki 'Kodu gör' butonuna tıklayın.</p>
    <p class="lead">
      <a class="btn btn-outline-success btn-lg" href="https://github.com/berkgaffaroglu/cekilisapp" role="button"><i class="fas fa-code"></i> Kodu gör</a>
    </p>
  </div>


{% endblock %}
